.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem 1rem;
  margin: 0.5rem 0;
  border: 1px solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
}

.todo:hover {
  background-color: #eee;
}

.todo-checkbox:checked + .todo-text {
  text-decoration: line-through;
  color: #777;
}

.todo-text {
  flex: 1;
  margin: 0 1rem;
}

.todo-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-action-delete {
  color: red;
  cursor: pointer;
  background-color: transparent;
  border: none;
}
